# W2 Lab Assignment

[Internet Movie Database (IMDb)](http://www.imdb.com/) provides various information about movies, such as total budgets, lengths, actors, and user ratings. They are publicly available from [here](http://www.imdb.com/interfaces). In this lab, let's explore a processed dataset named 'imdb.csv', which contains some basic information of movies.

Download the file from Canvas. There are 4 columns separated by tab:

1. Title: title of the movie;
1. Year: release year;
1. Rating: average IMDb user rating;
1. Votes: number of IMDB users who rated this movie

Things to note:

1. Let's use Python 3.5;
2. There are 313,012 lines in the file. When printing things, print selectively.

## Q1: What is the first and last year in this dataset? How many movies were released in each year during the whole time period?

To do this, we first need to read the CSV file. Python provides the [csv](https://docs.python.org/3.5/library/csv.html) module to read and write CSV files. The [`csv.reader`](https://docs.python.org/3.5/library/csv.html#csv.reader) function returns a Python object which will iterate over lines in the given file. Each line is returned as a list of strings, so that we can access a particular column using list index. If we want to ignore the first line, we can use [`islice`](https://docs.python.org/3.5/library/itertools.html#itertools.islice). It is like slicing a list, but it can slice an iterator (e.g. file stream). For instance, `islice(reader, 0, 5)` means "give me the first 5 items from the `reader`". `islice(reader, 1, 5)` means "give me the 4 items starting from the second item". 

A basic usage example to read the first 11 lines of 'imdb.csv':

In [1]:
import csv
from itertools import islice

f = open('imdb.csv', 'r')
reader = csv.reader(f, delimiter='\t')
for row in islice(reader, 0, 5):
    print(row)
    print(row[1])

['Title', 'Year', 'Rating', 'Votes']
Year
['!Next?', '1994', '5.4', '5']
1994
['#1 Single', '2006', '6.1', '61']
2006
['#7DaysLater', '2013', '7.1', '14']
2013
['#Bikerlive', '2014', '6.8', '11']
2014

There are many ways to do Q1. One way is to use [dictionaries](https://docs.python.org/2/tutorial/datastructures.html#dictionaries) where the key: value pairs are:

- key: year
- value: a list of movie titles or number of movies

In [2]:
dt = {}
year = 1972
if year not in dt:
    dt[year] = 1
else:
    dt[year] += 1
print(dt)

{1972: 1}

Python automates the job above by using [`Counter`](https://docs.python.org/3.4/library/collections.html#collections.Counter).

In [3]:
from collections import Counter

movie_counter = Counter()
movie_counter[1972] +=1 
print(movie_counter[1972])
print(movie_counter[1970])

1
0

Once all lines are read, we want to print the dictionary, which can be done by iterating its key: value pairs.

In [4]:
for key,val in dt.items():
    print(key,val)
for key,val in movie_counter.items():
    print(key,val)

1972 1
1972 1

You can get the keys (the years) by using `.keys()` function.

In [5]:
movie_counter[1980] += 5
movie_counter[2015] += 1
movie_counter.keys()

dict_keys([1972, 1980, 2015])

and you have convenient functions like [`min()`](https://docs.python.org/2/library/functions.html#min) and [`max()`](https://docs.python.org/2/library/functions.html#max) for calculating the min and max value of a list or iterable.

In [6]:
alist = [23,3,5,4,2,1,1,0,1000]
print(min(alist))
print(max(alist))

0
1000

**Code for Q1**

In [7]:
# implement below
movie_counter = Counter()
f = open('imdb.csv', 'r')
reader = csv.reader(f, delimiter='\t')
for row in reader:  
    movie_counter[row[1]] += 1
f.close()

del movie_counter['Year']
min_year = min(list(movie_counter.keys()))
max_year = max(list(movie_counter.keys()))
print('Min Year: {}; Max Year: {}'.format(min_year, max_year))
for key, value in movie_counter.items(): print('Year: {}, Movie Count: {}'.format(key, value))

Min Year: 1874; Max Year: 2017
Year: 1994, Movie Count: 3415
Year: 2006, Movie Count: 10115
Year: 2013, Movie Count: 13048
Year: 2014, Movie Count: 10862
Year: 2012, Movie Count: 13887
Year: 2011, Movie Count: 13944
Year: 2010, Movie Count: 12931
Year: 1986, Movie Count: 2882
Year: 2001, Movie Count: 6042
Year: 1984, Movie Count: 2779
Year: 2002, Movie Count: 6694
Year: 2004, Movie Count: 8584
Year: 2009, Movie Count: 12268
Year: 2003, Movie Count: 7355
Year: 1979, Movie Count: 2526
Year: 1982, Movie Count: 2537
Year: 2007, Movie Count: 10147
Year: 1998, Movie Count: 4651
Year: 1961, Movie Count: 1623
Year: 1969, Movie Count: 2320
Year: 1993, Movie Count: 3128
Year: 2000, Movie Count: 5575
Year: 1971, Movie Count: 2370
Year: 1999, Movie Count: 5138
Year: 1976, Movie Count: 2399
Year: 2005, Movie Count: 9508
Year: 2008, Movie Count: 11095
Year: 1997, Movie Count: 4353
Year: 1977, Movie Count: 2264
Year: 1985, Movie Count: 2908
Year: 1990, Movie Count: 3093
Year: 1989, Movie Count: 3193
Year: 2015, Movie Count: 4402
Year: 1995, Movie Count: 3698
Year: 1992, Movie Count: 3136
Year: 1980, Movie Count: 2438
Year: 1991, Movie Count: 2993
Year: 1970, Movie Count: 2240
Year: 1964, Movie Count: 1823
Year: 1959, Movie Count: 1572
Year: 1981, Movie Count: 2485
Year: 1947, Movie Count: 1010
Year: 1950, Movie Count: 1283
Year: 1951, Movie Count: 1318
Year: 1952, Movie Count: 1316
Year: 1953, Movie Count: 1393
Year: 1955, Movie Count: 1476
Year: 1956, Movie Count: 1479
Year: 1957, Movie Count: 1604
Year: 1958, Movie Count: 1533
Year: 1960, Movie Count: 1567
Year: 1963, Movie Count: 1635
Year: 1965, Movie Count: 1896
Year: 1966, Movie Count: 2025
Year: 1967, Movie Count: 2086
Year: 1972, Movie Count: 2445
Year: 1973, Movie Count: 2325
Year: 1975, Movie Count: 2286
Year: 1983, Movie Count: 2647
Year: 1996, Movie Count: 3923
Year: 1954, Movie Count: 1397
Year: 1988, Movie Count: 3054
Year: 1978, Movie Count: 2386
Year: 1987, Movie Count: 3049
Year: 1968, Movie Count: 2199
Year: 1974, Movie Count: 2392
Year: 1949, Movie Count: 1208
Year: 1948, Movie Count: 1084
Year: 1962, Movie Count: 1669
Year: 1938, Movie Count: 1230
Year: 1936, Movie Count: 1235
Year: 1910, Movie Count: 389
Year: 1944, Movie Count: 969
Year: 1946, Movie Count: 952
Year: 1937, Movie Count: 1245
Year: 1931, Movie Count: 939
Year: 1913, Movie Count: 311
Year: 1935, Movie Count: 1174
Year: 1939, Movie Count: 1162
Year: 1941, Movie Count: 1169
Year: 1903, Movie Count: 261
Year: 1918, Movie Count: 286
Year: 1924, Movie Count: 466
Year: 1917, Movie Count: 317
Year: 1922, Movie Count: 328
Year: 1901, Movie Count: 254
Year: 1899, Movie Count: 242
Year: 1945, Movie Count: 876
Year: 1900, Movie Count: 265
Year: 1914, Movie Count: 315
Year: 1902, Movie Count: 217
Year: 1943, Movie Count: 1105
Year: 1920, Movie Count: 323
Year: 1942, Movie Count: 1193
Year: 1929, Movie Count: 671
Year: 1934, Movie Count: 1120
Year: 1940, Movie Count: 1160
Year: 1908, Movie Count: 267
Year: 1932, Movie Count: 1026
Year: 1919, Movie Count: 313
Year: 1898, Movie Count: 321
Year: 1896, Movie Count: 678
Year: 1897, Movie Count: 479
Year: 1928, Movie Count: 609
Year: 1925, Movie Count: 508
Year: 1912, Movie Count: 376
Year: 1915, Movie Count: 361
Year: 1905, Movie Count: 177
Year: 1933, Movie Count: 1024
Year: 1916, Movie Count: 328
Year: 1907, Movie Count: 197
Year: 1930, Movie Count: 836
Year: 1926, Movie Count: 554
Year: 1927, Movie Count: 581
Year: 1909, Movie Count: 405
Year: 1911, Movie Count: 309
Year: 1894, Movie Count: 94
Year: 1921, Movie Count: 345
Year: 1904, Movie Count: 214
Year: 1923, Movie Count: 393
Year: 1895, Movie Count: 116
Year: 1892, Movie Count: 9
Year: 1906, Movie Count: 182
Year: 1888, Movie Count: 5
Year: 1893, Movie Count: 2
Year: 1891, Movie Count: 9
Year: 2016, Movie Count: 2
Year: 1889, Movie Count: 2
Year: 1890, Movie Count: 5
Year: 1887, Movie Count: 1
Year: 1874, Movie Count: 1
Year: 1878, Movie Count: 1
Year: 2017, Movie Count: 1

In [8]:
# implementation with Pandas
import pandas as pd
import numpy as np
df = pd.read_csv('imdb.csv', delimiter='\t')
min_year = df.Year.min()
max_year = df.Year.max()
count_by_year = df.groupby('Year').agg({'Year': np.size})
count_by_year.columns = (['MovieCount'])
print('Min Year: {}; Max Year: {}'.format(min_year, max_year))
pd.set_option('display.max_rows', None)  
count_by_year

Min Year: 1874; Max Year: 2017

      MovieCount
Year
1874           1
1878           1
1887           1
1888           5
1889           2
1890           5
1891           9
1892           9
1893           2
1894          94
1895         116
1896         678
1897         479
1898         321
1899         242
1900         265
1901         254
1902         217
1903         261
1904         214
1905         177
1906         182
1907         197
1908         267
1909         405
1910         389
1911         309
1912         376
1913         311
1914         315
1915         361
1916         328
1917         317
1918         286
1919         313
1920         323
1921         345
1922         328
1923         393
1924         466
1925         508
1926         554
1927         581
1928         609
1929         671
1930         836
1931         939
1932        1026
1933        1024
1934        1120
1935        1174
1936        1235
1937        1245
1938        1230
1939        1162
1940        1160
1941        1169
1942        1193
1943        1105
1944         969
1945         876
1946         952
1947        1010
1948        1084
1949        1208
1950        1283
1951        1318
1952        1316
1953        1393
1954        1397
1955        1476
1956        1479
1957        1604
1958        1533
1959        1572
1960        1567
1961        1623
1962        1669
1963        1635
1964        1823
1965        1896
1966        2025
1967        2086
1968        2199
1969        2320
1970        2240
1971        2370
1972        2445
1973        2325
1974        2392
1975        2286
1976        2399
1977        2264
1978        2386
1979        2526
1980        2438
1981        2485
1982        2537
1983        2647
1984        2779
1985        2908
1986        2882
1987        3049
1988        3054
1989        3193
1990        3093
1991        2993
1992        3136
1993        3128
1994        3415
1995        3698
1996        3923
1997        4353
1998        4651
1999        5138
2000        5575
2001        6042
2002        6694
2003        7355
2004        8584
2005        9508
2006       10115
2007       10147
2008       11095
2009       12268
2010       12931
2011       13944
2012       13887
2013       13048
2014       10862
2015        4402
2016           2
2017           1

## Q2: What are the average ratings and average votes?

We can store the ratings/votes column as a list and then calculate various basic statistics (mean, median, etc.). To do this, we can use the [NumPy](http://www.numpy.org/) library and call the function [`numpy.mean`](http://docs.scipy.org/doc/numpy/reference/generated/numpy.mean.html) and [`numpy.median`](http://docs.scipy.org/doc/numpy/reference/generated/numpy.median.html). For example,

In [9]:
import numpy as np

alist = [1,3,6,2,5,2]
print(np.mean(alist))
print(np.median(alist))

3.16666666667
2.5

**Code for Q2**

In [10]:
# implementation in pandas
avg_by_year = df.groupby('Year').agg({'Rating': np.mean, 'Votes': np.mean})
avg_by_year.columns = (['Average_Rating','Average_Votes'])
avg_by_year

      Average_Rating  Average_Votes
Year
1874        6.500000     174.000000
1878        7.300000     452.000000
1887        5.100000     365.000000
1888        6.320000    1106.800000
1889        6.000000      81.500000
1890        5.280000     333.800000
1891        5.122222     251.111111
1892        5.800000     151.000000
1893        5.950000     611.500000
1894        4.587234     142.723404
1895        4.579310     166.810345
1896        4.415339      59.439528
1897        4.584134      39.304802
1898        4.605919      49.118380
1899        4.776033      48.739669
1900        4.872453      62.260377
1901        5.048031      66.948819
1902        4.992627     144.258065
1903        4.847510     113.904215
1904        4.914019      65.864486
1905        5.197740      59.819209
1906        5.244505      60.565934
1907        5.349239      51.786802
1908        5.405618      42.393258
1909        5.074321      32.244444
1910        5.017738      32.077121
1911        5.093204      27.980583
1912        5.522872      47.750000
1913        5.639550      50.405145
1914        5.733968     125.069841
1915        5.639889     127.210526
1916        5.794207     117.954268
1917        5.830599      81.466877
1918        5.635664      93.786713
1919        5.840575     128.776358
1920        5.882663     236.492260
1921        6.011304     312.721739
1922        5.913415     361.399390
1923        5.853690     131.152672
1924        5.940987     185.027897
1925        5.973031     336.153543
1926        5.907401     192.117329
1927        6.053184     356.382100
1928        6.061084     240.745484
1929        6.078689     221.090909
1930        5.869139     199.983254
1931        6.002236     455.299255
1932        6.080117     275.094542
1933        6.110156     324.237305
1934        6.040179     241.926786
1935        6.061499     260.978705
1936        6.077733     325.593522
1937        6.114378     307.230522
1938        6.054390     273.217886
1939        6.105077     753.817556
1940        6.160948     658.220690
1941        6.143541     676.495295
1942        6.129673     653.713328
1943        6.116561     285.089593
1944        6.119917     490.759546
1945        6.183904     441.531963
1946        6.226786     769.294118
1947        6.214752     368.881188
1948        6.268635     582.609779
1949        6.149752     417.676325
1950        6.159158     615.129384
1951        6.122610     562.127466
1952        6.145213     466.815350
1953        6.054702     571.104092
1954        6.102004     849.886901
1955        6.219377     592.740515
1956        6.118458     485.486139
1957        6.107918     856.875312
1958        6.121657     537.716243
1959        6.114059     805.571247
1960        6.115763     826.800893
1961        6.173259     580.656808
1962        6.162912     799.665069
1963        6.214985     712.380428
1964        6.166484     800.291278
1965        6.251266     556.284283
1966        6.221728     712.426173
1967        6.272387     653.598754
1968        6.236198     802.559800
1969        6.171897     487.840086
1970        6.074955     438.327232
1971        6.082025     826.679325
1972        6.141227     916.033947
1973        6.106452     868.631398
1974        6.099707     911.924749
1975        6.156518    1152.382765
1976        6.164985     893.227178
1977        6.237235    1015.454064
1978        6.244300     813.045683
1979        6.225337    1165.921219
1980        6.172600    1383.560705
1981        6.208089    1097.901006
1982        6.227631    1329.381553
1983        6.215451    1180.518700
1984        6.214502    1597.425693
1985        6.215131    1428.496561
1986        6.138550    1545.305344
1987        6.148770    1685.951787
1988        6.120498    1708.011460
1989        6.149233    1818.393674
1990        6.123181    2022.654381
1991        6.227464    1844.819579
1992        6.207908    1955.075255
1993        6.217231    2511.641624
1994        6.208551    3370.624012
1995        6.088643    2962.366144
1996        6.150956    2208.342085
1997        6.189869    2838.419940
1998        6.232552    2690.639432
1999        6.187388    3211.815882
2000        6.239372    2614.487175
2001        6.266518    2953.064052
2002        6.309904    2654.877353
2003        6.338681    2548.969273
2004        6.421039    2549.292754
2005        6.456447    2248.058162
2006        6.435512    2287.482254
2007        6.431940    2417.824480
2008        6.449950    2253.978549
2009        6.460091    1933.553065
2010        6.513557    1892.688578
2011        6.551757    1933.302424
2012        6.599136    1801.759415
2013        6.556361    1868.883890
2014        6.689707    1852.840545
2015        6.769219    1120.688323
2016        4.900000       8.500000
2017        7.700000      18.000000

## Q3: What are the 5 movies that have the highest ratings and highest votes, respectively?

Store the movie titles and ratings information as a dictonary:

- key: movie title
- value: movie rating

Then, we can sort the dictionary based on its values, which will return a list of [tuples](https://docs.python.org/2/tutorial/datastructures.html#tuples-and-sequences). Note to print only the top 5 movies.

In [11]:
import operator

dt = {1971: 2, 1975: 10, 1962: 1, 1980: 50, 1981: 55}
sorted_x_by_val = sorted(dt.items(), key=operator.itemgetter(1), reverse=True )
print(sorted_x_by_val)
for elem in sorted_x_by_val:
    print(elem[0],elem[1])

[(1981, 55), (1980, 50), (1975, 10), (1971, 2), (1962, 1)]
1981 55
1980 50
1975 10
1971 2
1962 1

**Code for Q3**

In [12]:
# implement below

print('Q3 Part 1: Five Movies with the Highest Ratings')
df.sort_values(['Rating'], ascending=[0]).head(5)

Q3 Part 1: Five Movies with the Highest Ratings

                                        Title  Year  Rating  Votes
57863   Adolfo Perez Esquivel: Rivers of Hope  2015     9.9      9
42123                   The Red Shirt Diaries  2014     9.8      6
140553                              High-Rise  2015     9.8      5
131241                     Girls Loving Girls  1996     9.8      5
24902        Mari White Presents the Newsboys  2011     9.7      6

In [13]:
print('Q3 Part 2: Five Movies with the Highest Votes')
df.sort_values(['Votes'], ascending=[0]).head(5)

Q3 Part 2: Five Movies with the Highest Votes

                           Title  Year  Rating    Votes
279320  The Shawshank Redemption  1994     9.3  1511933
264590           The Dark Knight  2008     9.0  1487023
149895                 Inception  2010     8.8  1285905
122656                Fight Club  1999     8.9  1189053
223981              Pulp Fiction  1994     8.9  1177471

#### Name the .ipynb file with file name 'lab02_lastname_firstname', and upload to Canvas under [w2] lab assingment.